#z1 {
  text-align: center;
  font-size: 22px;
}
.m1 {
  font-style: italic;
}
#hd {
  text-align: center;
}
.cnt:hover {
  color: magenta;
}
.cnt:active {
  color: yellow;
}
article {
  font-size: 120%;
}
#C1 {
  background-color: tomato;
}
#C2 {
  background-color: rgb(19, 212, 148);
}
#C3 {
  background-color: rgb(119, 40, 26);
}
#C4 {
  background-color: rgb(48, 163, 19);
}
#C5 {
  background-color: rgb(30, 163, 90);
}
.arc1 {
  color: rgb(30, 163, 90);
}
.arc2 {
  color: rgb(30, 163, 90);
}
.arc3 {
  color: rgb(30, 163, 90);
}
.arc4 {
  color: rgb(30, 163, 90);
}
.arc5 {
  color: rgb(30, 163, 90);
}
.btc {
  font-weight: 600;
}
