#z1 {
  text-align: center;
  font-size: 22px;
}
.m1 {
  font-style: italic;
}
#hd {
  text-align: center;
}
.cnt:hover {
  color: magenta;
}
.cnt:active {
  color: yellow;
}
section {
  font-size: 120%;
}
.sec-one {
  background-color: blue;
  color: red;
}
.sec-two {
  background-color: black;
  color: white;
}
.sec-three {
  background-color: green;
  color: yellow;
}
.sec-four {
  background-color: orangered;
  color: black;
}
.sec-five {
  background-color: violet;
  color: blue;
}
.btc {
  font-weight: 600;
}
.headers {
  font-size: 120%;
}
a {
  text-decoration: none;
}
.up {
  text-transform: uppercase;
}
