.mn-ttl {
  text-align: center;
  font-size: 22px;
}
.bck-mn {
  font-style: italic;
}
.sc-ttl {
  text-align: center;
}
.tb-hd {
  text-align: center;
  background-color: grey;
  color: red;
  font-weight: 600;
}
.gr-bckgr-lst {
  background-color: grey;
  color: red;
}
.wht-bckgr-lst {
  background-color: white;
  color: yellowgreen;
}
.rgt-spc {
  text-align: right;
}
table,
th,
td {
  border: 1px solid black;
}
a {
  text-decoration: none;
}
