.mn-ttl {
  text-align: center;
  font-size: 20px;
}
.bck-mn {
  font-style: italic;
}
.my-pic {
  text-align: center;
}
.ttl-fldr-one {
  text-align: center;
  font-size: 70%;
}
.ttl-fldr-two {
  text-align: center;
  font-size: 130%;
}
.ttl-onl {
  text-align: center;
  font-size: 179%;
}
.img {
  text-align: center;
}
a {
  text-decoration: none;
}
