a {
  text-decoration: none;
}

.page-title {
  text-align: center;
  font-size: 24px;
}
.text {
  font-size: 120%;
}

.link-one {
  color: blue;
}
.link-one:visited {
  color: red;
}

.link-two {
  color: rgb(100, 32, 165);
}
.link-two:visited {
  color: rgb(216, 87, 87);
}

.link-three {
  color: rgb(26, 26, 53);
}
.link-three:visited {
  color: rgb(18, 170, 38);
}

.link-four {
  color: rgb(58, 58, 247);
}
.link-four:visited {
  color: rgb(99, 34, 34);
}
